extends /page.pug

block title
  title Colophon / Sanzo

block container
  h2 Colophon
  //- p A Dictionary of Colour Combinations
  p This project would not be possible without the work of Matt DesLauriers and his #[a(href="https://github.com/mattdesl/dictionary-of-colour-combinations") dictionary-of-colour-combinations]
  ul
    li Site built with 11ty.
    li Code is on Github.
    li Written in Sublime Text.

  p Made by Luis Rosario/zapo.
