extends /page.pug

block title
  title Colophon / Sanzo

block container
  h2 Colophon
  //- p A Dictionary of Colour Combinations
  p This project would not be possible without the work of Matt DesLauriers and his #[a(href="https://github.com/mattdesl/dictionary-of-colour-combinations") dictionary-of-colour-combinations]
  ul
    li Site built with #[a(href="https://www.11ty.dev/") 11ty].
    li Code is on #[a(href="https://github.com/Z4P0/sanzo") Github].
    li Deployed on #[a(href="https://www.netlify.com/") Netlify].
    li Written in #[a(href="https://www.sublimetext.com/") Sublime Text].
    li Designed in #[a(href="https://www.sketch.com/") Sketch].

  p Made by #[a(href="https://luisrosar.io/") Luis Rosario]/#[a(href="https://www.instagram.com/zapo__/") zapo].
  //- p
    small v.0.2.1
