---
layout: page.njk
---


<h2>Browse</h2>

<p>A collection of 348 color combinations originated by <a href="https://sanzowada.com/about">Sanzo Wada</a> (1883-1967), a Japanese painter and costume designer.</p>

<ol class="color-list">
  {%- for palette in palettes %}
    <li>
      <div class="palette" >
        {%- for color in palette %}
          <div class="palette__color">
            <div class="swatch" style="background: {{ color.hex }}">
            </div>
            <dl>
              <dt>Name</dt>
              <dd>{{ color.name }}</dd>
              <dt>Hex Code</dt>
              <dd>{{ color.hex }}</dd>
            </dl>
          </div>
        {% endfor -%}
      </div>
    </li>
  {% endfor -%}
</ol>
