---
layout: page.njk
---

<h2>A Dictionary of Colour Combinations</h2>


<p>Colors.json:</p>
<ul>
  {%- for color in colors %}
    <li>hello</li>
  {% endfor -%}
</ul>


<p>Palettes.json:</p>
<ul>
  {%- for item in palettes %}
    <li>hello</li>
  {% endfor -%}
</ul>



<p>userList.json:</p>
<ul>
  {%- for item in userList %}
    <li>hello</li>
  {% endfor -%}
</ul>

