extends /page.pug

block title
  title Sanzo

block container
  h1 Sanzo
  h2 A Dictionary of Colour Combinations

  ul
    li
      a(href="/") Browse
    li
      a(href="/random") Random Palette
    li
      a(href="/colophon") Colophon

  hr


  h2 Colors
  p list of color combinations goes here
  //- each palette in pagination.items
    //- p Palette colors go here
  //- p#palette-index #---
  //- #palette.palette
  //-   //- .swatch-es go here
  //- button(type="button", onclick="randomPalette();") Random
