extends /page.pug

block title
  title Random

block container
  h2 Random Palette
  p
    button(type="button", onclick="randomPalette();") Random
  p#palette-index #---
  #palette.palette
    //- .swatch-es go here


block scripts
  script(src="/scripts/browser.js")
