---
title: Sanzo
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanzo</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <h1 class="site-title">
          <a href="/">Sanzo</a>
        </h1>
        <p>A Dictionary of Color Combinations</p>
        <ul class="site-menu">
          <li>
            <a href="/">Browse</a>
          </li>
          <li>
            <a href="/random">Random</a>
          </li>
          <li>
            <a href="/colophon">Colophon</a>
          </li>
        </ul>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
