doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title Sanzo
    //- styles
    link(rel="preload", href="/styles/styles.css", as="style")
    <link rel="stylesheet" href="/styles/styles.css">
    //- //- favicon
    //- meta(name="theme-color", content="#ffffff")
    //- link(rel="icon", href="/assets/favicon.svg")
    //- link(rel="mask-icon", href="/assets/favicon.svg", color="#363636")
    //- link(rel="apple-touch-icon", href="/assets/apple-touch-icon.png")
    block styles

  body

    //- a(href="#main").show-for-sr Skip to main content

    .container

      header.site-header
        h1.site-title
          a(href="/") Sanzo

        p A Dictionary of Color Combinations

        //- nav
          h2.show-for-sr Site Navigation
        ul.site-menu
          li
            a(href="/") Browse
          li
            a(href="/random") Random
          li
            a(href="/colophon") Colophon


      main
        block container
          h2 Page Title

    block scripts
      //- script(src="/assets/js/hero-header.js")
